.head ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.head  li {
    float: inline-start;
    width: 20%;
  }
  
.head  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

@keyframes hover_color{
0%{ background-color: #111; }
50%{background-color: #222;}
100%{background-color: #333;}
}

  /* Change the link color to #111 (black) on hover */
.head  li a:hover {
    animation-name: hover_color;
    animation-duration: 300ms;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
  }