<link rel="stylesheet" href="/template/nev.css">

<div class="head">
  
  <ul class="web">
    <li><span>TITLE</span> </li> 
        <li><a href="/index.html">首頁</a></li>
        <li><a href="/weekly/index.html">週記</a></li>
        <li><a href="/games/index.html">遊戲分享</a></li>
        <li><a href="/dev/index.html">遊戲開發</a></li>
        <li style="width: 17%;"><a href="/aboutme.html">關於我</a></li>
      </ul>
      <ul class="mobile" id="mobile">
        <li> <div class="ham"><span class="nevitem">TITLE</span> <div class="hhh" onclick="ham()"><span>三</span></div> ></div> </li> 
            <li><a href="/index.html">首頁</a></li>
            <li><a href="/weekly/index.html">週記</a></li>
            <li><a href="/games/index.html">遊戲分享</a></li>
            <li><a href="/dev/index.html">遊戲開發</a></li>
            <li><a href="/aboutme.html">關於我</a></li>
          </ul>
</div>

<script>
  var is_open=false;
  function ham(){
    var element = document.getElementById("mobile");
    if(is_open){
      console.log(is_open);
      element.classList.remove("open");
      is_open=false;
    }else{
      console.log(is_open);
      element.classList.add("open");
      is_open=true;
    }
  }

</script>