a:link{
    text-decoration: none;
    color:black;
}
a:visited{
    color:black;
    
}

.sub-title{
    font-size: 30px;
}

#row{
    display: flex;
}
body{
    cursor: url();
    background-color:rgb(213, 255, 255);
}
#side{
    width: 20%;
    float: left;
    text-align: left;
    background-color: rgba(92, 255, 255, 0.3);
}

#date{
    font-size: 18px;
    text-align:end;
}

#title{
    text-align: justify;
    text-align: center;
    font-size: 40px;
}
#inside{
    font-size: 20px;
    letter-spacing: 1.5px ;
    padding-left: 13px;
    text-align: justify;
    

}
#inside p .eng{
    letter-spacing: normal;
}
#inside p .hl{
    color:red;
}
#inside::first-letter{
    font-size: 50px;
    font-style: italic;
    
}

#ad{
    width : 20%;
    float: left;
    text-align: center;
    
}

#disqus_thread{
    padding: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-style: dotted;
    border-color: rgba(0,0,0,0);
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#main{
    width: 60%;
    float: left;
    
}
#row::after{
    content: "";
    display: table;
    clear: both;
}
.list{
    font-size: 20px;
}
.list img{
    width: 55%;
}
#side div{
    text-align: center;
    
    font-size: 25px;
    
}
#side div a:visited{
    color: brown;
}
#side div a:active{
    color:blue;
  
}
#side div a:link{
    color: blueviolet;
    text-decoration: none;
}

#side div a:hover{
    font-size: 30px;
    transition: font-size 1s;
}
@media (max-width:1000px) {
    #main{
        width:80%;
    }
    #side{
        width:0%;
        visibility: hidden;
    }
    .list img{
        width: 70%;
    }
}

@media(max-width: 600px){
    #side,#main,#ad{
        width:100%;
    }
    #row{
        display: block;
    }
    .list img{
        width: 90%;
    }
}

#inside {
  font-family: "Noto Serif TC", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}



.side-title{
    text-align:center;
    
    font-size: large;
    font-family:"Noto Serif TC",serif;

}
.cat{
    width: 100%;
    height: 100%;
}

