
#row{
    display: flex;
}
body{
    cursor: url();
    background-color:rgb(213, 255, 255);
}
#side{
    width: 00%;
    float: left;
    text-align: left;
    background-color: bisque;
}

#date{
    font-size: 18px;
    text-align:end;
}

#title{
    text-align: justify;
    text-align: center;
    font-size: 40px;
}
#inside{
    font-size: 20px;
    letter-spacing: 1.5px ;
    padding-left: 13px;
    text-align: justify;
    

}
#inside p .eng{
    letter-spacing: normal;
}
#inside p .hl{
    color:red;
}
#inside::first-letter{
    font-size: 50px;
    font-style: italic;
    
}

#ad{
    width : 20%;
    float: left;
    text-align: center;
    
}

#disqus_thread{
    padding: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-style: dotted;
    border-color: rgba(0,0,0,0);
    border-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#main{
    width: 80%;
    float: left;
    
}
#row::after{
    content: "";
    display: table;
    clear: both;
}


@media(max-width: 600px){
    #side,#main,#ad{
        width:100%;
    }
    #row{
        display: block;
    }
    
}